.admin-sidebar {
  width: 250px;
  background: #111827;
  color: white;
  padding: 25px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #d1d5db;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}

.sidebar-menu li a:hover,
.sidebar-menu li.active a {
  color: #6366f1;
}
