.admin-layout {
  display: flex;
  background-color: white;
}

.admin-content {
  margin-left: 260px;
  padding: 40px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.orders-table th {
  background: #111827;
  padding: 14px;
  font-size: 15px;
}

.orders-table td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.badge {
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.badge.pending { background: #facc15; color: black; }
.badge.confirmed { background: #38bdf8; }
.badge.shipped { background: #a78bfa; }
.badge.delivered { background: #22c55e; }

.status-dropdown {
  padding: 6px;
  border-radius: 6px;
  outline: none;
  width: 130px;
}

.update-btn {
  padding: 7px 15px;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.update-btn:hover {
  background: #4338ca;
}


.view-btn {
  padding: 7px 15px;
  background: #6b7280;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #4b5563;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  width: 720px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-box h2 {
  margin-bottom: 20px;
  color: #111827;
}

.modal-box h1 {
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  color: #111827;
}

.modal-box h4 {
  margin-bottom: 8px;
  color: #374151;
}

.modal-box p{
  font-size: 18px;
}

.modal-box section {
  margin-bottom: 20px;
  font-size: 14px;
  color: #374151;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.items-table th {
  background: #f3f4f6;
  padding: 10px;
  font-size: 14px;
}

.items-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

.item-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item-cell img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.total {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #111827;
}

.close-btn {
  margin-top: 20px;
  padding: 8px 18px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
}

.close-btn:hover {
  background: #dc2626;
}

